body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1227px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:27px;
  top:581px;
  width:900px;
  height:145px;
}
#u3 {
  position:absolute;
  left:2px;
  top:64px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:66px;
}
#u4 {
  position:absolute;
  left:107px;
  top:613px;
  width:79px;
  height:66px;
}
#u5 {
  position:absolute;
  left:2px;
  top:25px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:49px;
}
#u6 {
  position:absolute;
  left:203px;
  top:621px;
  width:77px;
  height:49px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:58px;
}
#u8 {
  position:absolute;
  left:304px;
  top:617px;
  width:75px;
  height:58px;
}
#u9 {
  position:absolute;
  left:2px;
  top:21px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u10 {
  position:absolute;
  left:408px;
  top:623px;
  width:73px;
  height:51px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u12 {
  position:absolute;
  left:500px;
  top:618px;
  width:64px;
  height:57px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u14 {
  position:absolute;
  left:583px;
  top:629px;
  width:75px;
  height:41px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:117px;
  top:682px;
  width:52px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:215px;
  top:682px;
  width:52px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:304px;
  top:682px;
  width:70px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:411px;
  top:682px;
  width:70px;
  height:23px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:515px;
  top:682px;
  width:41px;
  height:23px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:590px;
  top:680px;
  width:75px;
  height:23px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FF0000;
}
#u28 {
  position:absolute;
  left:714px;
  top:638px;
  width:158px;
  height:41px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FF0000;
}
#u29 {
  position:absolute;
  left:2px;
  top:13px;
  width:154px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:536px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:927px;
  top:45px;
  width:300px;
  height:536px;
}
#u32 {
  position:absolute;
  left:2px;
  top:260px;
  width:296px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:927px;
  top:581px;
  width:300px;
  height:145px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:145px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:1128px;
  top:679px;
  width:82px;
  height:34px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37 {
  position:absolute;
  left:927px;
  top:344px;
  width:300px;
  height:300px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u38 {
  position:absolute;
  left:927px;
  top:44px;
  width:300px;
  height:300px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:927px;
  top:581px;
  width:300px;
  height:145px;
}
#u41 {
  position:absolute;
  left:2px;
  top:64px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u42 {
  position:absolute;
  left:1095px;
  top:648px;
  width:101px;
  height:28px;
  color:#FF0000;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u44 {
  position:absolute;
  left:959px;
  top:648px;
  width:105px;
  height:28px;
  color:#FF0000;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:536px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:27px;
  top:45px;
  width:900px;
  height:536px;
}
#u48 {
  position:absolute;
  left:2px;
  top:260px;
  width:896px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u50 {
  position:absolute;
  left:627px;
  top:45px;
  width:300px;
  height:300px;
}
#u51 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u52 {
  position:absolute;
  left:742px;
  top:280px;
  width:71px;
  height:29px;
  font-size:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:148px;
}
#u54 {
  position:absolute;
  left:705px;
  top:113px;
  width:145px;
  height:148px;
}
#u55 {
  position:absolute;
  left:2px;
  top:66px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u57 {
  position:absolute;
  left:327px;
  top:45px;
  width:300px;
  height:300px;
}
#u58 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u59 {
  position:absolute;
  left:442px;
  top:280px;
  width:71px;
  height:29px;
  font-size:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:157px;
}
#u61 {
  position:absolute;
  left:394px;
  top:113px;
  width:162px;
  height:157px;
}
#u62 {
  position:absolute;
  left:2px;
  top:70px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u64 {
  position:absolute;
  left:27px;
  top:45px;
  width:300px;
  height:300px;
}
#u65 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u66 {
  position:absolute;
  left:148px;
  top:280px;
  width:71px;
  height:29px;
  font-size:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:157px;
}
#u68 {
  position:absolute;
  left:99px;
  top:113px;
  width:157px;
  height:157px;
}
#u69 {
  position:absolute;
  left:2px;
  top:70px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:627px;
  top:45px;
  width:300px;
  height:300px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u71 {
  position:absolute;
  left:327px;
  top:45px;
  width:300px;
  height:300px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u72 {
  position:absolute;
  left:27px;
  top:45px;
  width:300px;
  height:300px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u73 {
  position:absolute;
  left:27px;
  top:45px;
  width:900px;
  height:536px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:536px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:494px;
}
#u76 {
  position:absolute;
  left:1027px;
  top:88px;
  width:200px;
  height:493px;
}
#u77 {
  position:absolute;
  left:2px;
  top:238px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u79 {
  position:absolute;
  left:1171px;
  top:159px;
  width:30px;
  height:27px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
}
#u81 {
  position:absolute;
  left:1136px;
  top:159px;
  width:40px;
  height:27px;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
}
#u83 {
  position:absolute;
  left:1100px;
  top:159px;
  width:36px;
  height:27px;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:27px;
}
#u85 {
  position:absolute;
  left:1062px;
  top:159px;
  width:38px;
  height:27px;
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u88 {
  position:absolute;
  left:1171px;
  top:129px;
  width:30px;
  height:27px;
}
#u89 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
}
#u90 {
  position:absolute;
  left:1136px;
  top:129px;
  width:40px;
  height:27px;
}
#u91 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
}
#u92 {
  position:absolute;
  left:1100px;
  top:129px;
  width:36px;
  height:27px;
}
#u93 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:27px;
}
#u94 {
  position:absolute;
  left:1062px;
  top:129px;
  width:38px;
  height:27px;
}
#u95 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u97 {
  position:absolute;
  left:1171px;
  top:98px;
  width:30px;
  height:27px;
}
#u98 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
}
#u99 {
  position:absolute;
  left:1136px;
  top:98px;
  width:40px;
  height:27px;
}
#u100 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
}
#u101 {
  position:absolute;
  left:1100px;
  top:98px;
  width:36px;
  height:27px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:27px;
}
#u103 {
  position:absolute;
  left:1062px;
  top:98px;
  width:38px;
  height:27px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:493px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  position:absolute;
  left:927px;
  top:88px;
  width:100px;
  height:493px;
}
#u106 {
  position:absolute;
  left:2px;
  top:239px;
  width:96px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:46px;
}
#u107 {
  position:absolute;
  left:1027px;
  top:44px;
  width:200px;
  height:45px;
}
#u108 {
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:927px;
  top:44px;
  width:100px;
  height:45px;
}
#u110 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:27px;
  top:10px;
  width:1200px;
  height:35px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:1196px;
  word-wrap:break-word;
}
